*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --bg-body: #2F2F33;
    --ff-primary: 'Roboto', sans-serif;
    --text-color: #E1E1E6;
    --bg-table-tr: rgba(6, 22, 27, 0.5);
    --bg-tr-odd: #06181C;
    --color-td-remove: #F75A68;

    --hue: 194;
    --primary-color: #092D38;
}

body {
    font-size: 1.6rem;
    color: var(--text-color);
    background-color: var(--bg-body);
}

body * {
    font-family: var(--ff-primary);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

#app {
    padding: 2rem;
    max-width: 50rem;
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin: 2.2rem 0;
}

header img {
    width: 15rem;

    margin: 1rem 0 2rem 0;
}

.search {
    display: flex;
    align-items: center;
}

.search input {
    width: 17.2rem;
    height: 3.2rem;

    align-items: center;

    border: 1mm ridge rgba(211, 220, 50, .6);
    border-radius: .4rem 0 0 .4rem;
    padding: 0 .8rem;

    font-size: 1.1rem;
    box-shadow: 1rem 1.5rem 3rem -1rem rgba(3, 0, 0, 0.822);
}

.search button {
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: var(--primary-color);
    border-radius: 0 .4rem .4rem 0;

    width: 8.2rem;
    height: 3.2rem;
    
    font-size: 1.0rem;
    font-weight: bold;
    border: 1mm ridge rgba(212, 220, 50, 0.096);
    padding: 0 3rem 0 2rem;
    gap: 0.5rem;

    color: var(--text-color);
    text-shadow: 0.1rem 0.3rem 0.4rem rgba(0, 0, 0, 0.6);
    box-shadow: 0.5rem 1.5rem 3rem -1rem rgba(3, 0, 0, 0.822);

    cursor: pointer;
}

.search button:hover {
    filter: brightness(1.5);
}

.search button img {
    width: 1.5rem;
    height: 1rem;
    margin: 0.15rem 0 0.3rem 0.6rem;
}

table {
    width: 100%;
    border-collapse: collapse;

    box-shadow: 0 2rem 1.2rem -1rem rgba(0, 0, 0, 0.961);
}

table * {
    font-size: 0.9rem;
    color: var(--text-color);
}

table th {
    background-color: var(--primary-color);
    text-align: center;
    font-weight: bolder;
    padding: 1rem;

    text-shadow: 0.1rem 0.3rem 0.4rem rgba(0, 0, 0, 0.6);

    position: sticky;
    top: 0;
}

table th:first-child {
    border-top-left-radius: .4rem;
}

table th:last-child {
    border-top-right-radius: .4rem;
}

table td {
    height: 7.5rem;
    padding: 0.5rem;
    text-align: center;

    text-shadow: 0.1rem 0.3rem 0.4rem rgba(0, 0, 0, 0.6);
}

table td:nth-child(1) {
    text-align: start;
}

table tr {
    background: var(--bg-table-tr);
}

table tr:nth-child(odd) {
    background: var(--bg-tr-odd);
}

td.user {
    display: flex;
    align-items: center;
    gap: 0.1rem;
}

td.user img {
    width: 2rem;
    height: 2rem;

    margin: 0 0 0 0.6rem;
    object-fit: cover;
    border-radius: 50%;
}

td.user a {
    text-decoration: none;
    padding: 1rem;
}

td.user a p {
    font-weight: bold;
    font-size: 1rem;

    text-shadow: 0.1rem 0.3rem 0.4rem rgba(0, 0, 0, 0.6);
}

td.user a span {
    font-size: 0.9rem;

    text-shadow: 0.1rem 0.3rem 0.4rem rgba(0, 0, 0, 0.6);
}

td .remove {
    background: none;
    border: none;
    font-weight: bold;
    font-size: 0.8rem;

    padding: 0.6rem;
    color: var(--color-td-remove);
    text-shadow: 0.1rem 0.3rem 0.4rem rgba(0, 0, 0, 0.6);

    cursor: pointer;
}

.table-wrapper {
    height: 50rem;
    
    overflow-y: auto;
    overflow-x: hidden;
}

.table-wrapper::-webkit-scrollbar {
    width: 0.5rem;               
}
  
.table-wrapper::-webkit-scrollbar-track {
    background: transparent;        
}

.table-wrapper::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);    
    border-radius: 2rem;       
    border: 0.3px solid #4A808C; 
}

@media(min-width: 768px) {
    #app {
        max-width: 120rem;
    }
    
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;    
        margin: 3rem 0;
    }
    
    header img {
        width: 23rem;
        height: 5rem;

        margin: 2.5rem 0 1rem 4.5rem;
    }
    
    .search input {
        width: 30rem;
        height: 5rem;

        font-size: 1.8rem;

        margin: 2.5rem 0 1rem 4.5rem;
    }
    
    .search button {    
        width: 18rem;
        height: 5rem;
       
        margin: 1.5rem 0 0 0;
        padding: 0 3rem 0 0.5rem;

        font-size: 1.5rem;
        gap: 1rem; 
    }
    
    .search button img {
        display: flex;
        
        width: 3rem;
        height: 2.3rem;

        margin: 0.5rem 0.1rem 0.8rem 2.5rem; 
    }
    
    table * {
        font-size: 2rem;
    }
    
    table th {
        font-weight: bold;
        padding: 2rem;
    }
    
    table th:first-child {
        border-top-left-radius: .8rem;
        text-align: left;

        padding-left: 14rem;
    }
    
    table th:last-child {
        border-top-right-radius: .8rem;
    }
    
    table td {
        height: 8.5rem;
        padding: 3rem;
    }

    table td:nth-child(1) {
        text-align: start;
    }
    
    td.user {
        gap: 4rem;
        margin-left: 5rem;
    }

    td.user img {
        width: 6rem;
        height: 6rem;

        justify-content: flex-start;
    }
    
    td.user a p {
        font-size: 1.8rem;
    }
    
    td.user a span {
        font-size: 1.8rem;
    }
    
    td .remove {
        font-size: 1.8rem;
    }
}